.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .search-wrapper {
    width: 50%;
    margin: auto;
    position: relative;
  }
  
  .search-input {
    display: block;
    margin: 15px 0 0;
    width: 97%;
    padding: 10px;
    font-size: 1.2em;
    position: relative;
  }
  
  .results {
    list-style: none;
    width: 100%;
    min-height: 0px;
    background-color: white;
    border: 1px solid #cccccc;
    border-top-width: 0;
    font-size: .75em;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    z-index: 5;
  }
  
  .user {
    padding: 5px;
    overflow: hidden;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
  }
  
  .user:hover,
  .user:focus {
    background-color: #0097cf;
    color: white;
  }
  
  .user .img-wrapper {
    height: 35px;
    width: 35px;
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .user .img-wrapper .img {
    height: 35px;
    width: 35px;
    border-radius: 0%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
  }
  